<div class="container px-4 py-5" id="#portifolios">
  <h2 class="pb-2 border-bottom">Portifólios</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div *ngFor="let item of lista">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
        <i [class]="item.imagem"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">{{ item.titulo }}</h3>
        <p>{{ item.texto }}</p>
        <a href="#" class="icon-link">
          Entrar
          <svg class="bi"><use xlink:href="#chevron-right" /></svg>
        </a>
      </div>
    </div>
  </div>
</div>
